@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My ToDo List</h1>
    <p>Plan, Manage and Keep track of your daily tasks</p>
</div>

<div class="container">
    <h1>Welcome to the Todo List App</h1>
    <p>Manage your tasks efficiently and stay organized.</p>
    @*<a asp-controller="Register" asp-action="Register"  class="btn btn-primary">Get Started</a>*@
    <a asp-controller="Account" asp-action="Create" class="btn btn-secondary">Get Started</a>
    <a asp-controller="Account" asp-action="LogIn" class="btn btn-secondary">Log In</a>
</div>

