@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My ToDo List</h1>
    <p>Plan, Manage and Keep track of your daily tasks</p>
</div>

<div class="">
    <h2></h2>
</div>

