@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My ToDo List</h1>
    <p>Plan, Manage and Keep track of your daily tasks</p>
</div>

<div class="container">
    <h1>Welcome to the Todo List App</h1>
    <p>Manage your tasks efficiently and stay organized.</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet et mauris vitae semper. 
        Quisque vel turpis nibh. Nunc pellentesque dictum velit eget blandit. Class aptent taciti sociosqu 
        ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce vel mattis felis. Donec a tempor nunc. 
        Donec a eros at libero eleifend aliquet. Pellentesque a porta mauris, at pulvinar ipsum. Curabitur aliquam 
        laoreet urna id egestas. Aliquam id felis eu velit suscipit venenatis vitae vitae lacus. Fusce tempor quam id 
        lectus rutrum, et suscipit ipsum commodo. Ut aliquam ex eu leo faucibus, ac tincidunt augue ornare. Praesent et diam massa. 
        Sed mattis mollis metus, vitae fermentum turpis sagittis vel
    </p>
    @*<a asp-controller="Register" asp-action="Register"  class="btn btn-primary">Get Started</a>*@
    <a asp-controller="Account" asp-action="Create" class="btn btn-secondary">Get Started</a>
    <a asp-controller="Account" asp-action="LogIn" class="btn btn-secondary">Log In</a>
</div>

