@model ToDo__List.Models.LogIn

@{
    ViewData["Title"] = "User Login";
}

<h1>User Login</h1>

<h3>Kindly Login below</h3>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsernameOrEmail" class="control-label">Email</label>
                <input asp-for="UsernameOrEmail" class="form-control" id="username" autocomplete="off" />
                <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" id="password" autocomplete="new-password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            // Clear the username and password fields on page load
            document.getElementById('username').value = '';
            document.getElementById('password').value = '';
        });
    </script>

}
