@using System.Security.Claims;
@model ToDo__List.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/CategoryLayout.cshtml";
}

<h1>Create New Task</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Categories" class="control-label"></label>
                <select asp-for="Categories" class="form-control" name="Categories">
                    <option value="">--Select--</option>
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                    <option value="Home">Home</option>
                    <option value="School/Study">School/Study</option>
                    <option value="Health/Fitness">Health/Fitness</option>
                    <option value="Finance">Finance</option>
                    <option value="Social">Social</option>
                    <option value="Travel">Travel</option>
                    <option value="Projects">Projects</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                </select>
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tasks" class="control-label"></label>
                <input asp-for="Tasks" class="form-control" />
                <span asp-validation-for="Tasks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-control" name="Priority">
                    <option value="">--Select--</option>
                    <option value="Low">Low</option>
                    <option value="Mid">Mid</option>
                    <option value="High">High</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" id="statusInput" readonly />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" type="date" min="@DateTime.Today.ToString("yyyy-MM-dd")" id="EndDate" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index"><button class="btn btn-primary">Back to List</button></a>
</div>*@

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <h4 class="alert-heading">Validation Error(s)</h4>
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            // Event listener for the EndDate input field
            $('#EndDate').change(function () {
                // Get the values of the EndDate and current date
                var endDate = new Date($(this).val());
                var currentDate = new Date();

                // Calculate the remaining days
                var remainingDays = Math.ceil((endDate - currentDate) / (1000 * 60 * 60 * 24));

                // Update the status input with the remaining days
                var statusInput = $('#statusInput');
                if (remainingDays >= 2) {
                    statusInput.val(remainingDays + ' days left')
                } else if (remainingDays == 0) {
                    statusInput.val('Due Today')
                } else if (remainingDays == 1) {
                    statusInput.val('Due Tomorrow')
                } else {
                    statusInput.val('Expired')
                }
            });
        });
    </script>

}

